.post {
    width: 310px;
    margin: 0px 25px 40px 25px;
}
.postImg {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 7px;
}

.postInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postCat {
    font-family: 'Bonheur Royale', cursive;
    font-size: 20px;
    color: #6d597a;
    line-height: 20px;
    margin-top: 15px;
    margin-right: 10px;
    cursor: pointer;
}
.postTitle {
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    font-weight: 700;
    margin-top: 15px;
    cursor: pointer;
}
.postDate {
    font-family: 'Yaldevi', sans-serif;
    font-size: 15px;
    margin-top: 15px;
    color: #33415c;
}

.postDesc {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    line-height: 24px;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6 ;
    -webkit-box-orient: vertical;

}